#include "resource.h"
#include "afxres.h"
IDI_MYICON ICON "icon2.ico"
IDD_ABOUT DIALOG 0, 0, 137, 50
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Crypter WIN32"
// FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            IDI_MYICON,IDC_STATIC,7,7,31,30
    LTEXT           IDV_VER,IDC_VER,48,17,86,8
    LTEXT           "CrypterWIN32",IDC_STATIC,48,7,89,8
    DEFPUSHBUTTON   "OK",IDOK,55,32,30,12,WS_GROUP
END
VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,4,5,0
PRODUCTVERSION 0,4,5,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x9L
#else
FILEFLAGS 0x8L
#endif
FILEOS 0x40004L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "FigaSystems\0"
            VALUE "FileDescription", "Crypter Encryption and Decryption WIN32 version\0"
            VALUE "FileVersion", "0,4,5,0\0"
            VALUE "InternalName", "CrypterW32\0"
            VALUE "LegalCopyright", "Copyright © 2020-2023\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "CrypterWIN32.exe"
            VALUE "PrivateBuild", "0.4\0"
            VALUE "ProductName", "Crypter WIN32 (Win32)\0"
            VALUE "ProductVersion", "0.4.5.0\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END